.auth {
    max-width: 500px;
    margin: 200px auto 0 auto;
    
}

.auth__row {
    display: flex;
    justify-content: space-between;
   padding: 10px 0;
    align-items: center;
    flex-wrap: wrap;
}

.auth__check {
    padding: 10px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.auth__text {
    padding: 5px;
    height: 15px;
}

.auth__btn {
    margin: 0 auto;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 40px;
    background: olivedrab;
    color: papayawhip;
    cursor: pointer;
}

.auth__btn:hover {
    background: peru;
}

.auth__error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}